* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  :root {
--surface: #90E0EF;
--primary: #00B4D8;
--secundary: #CAF0F8;
--paragraph: 1rem;
  --title1: 2.5rem;
  --title2: 2rem;
  --title3: 1.75rem;
  }
  
  header> h1> a {
  
    text-decoration: none;
    color: black;
  }
  
  header > h1 {
    display: flex;
    gap: 10px;
  }
  header > nav > a {
    text-decoration: none;
    color: black;
  }  
  header > nav {
    display: flex;
    flex-direction: row;
    gap: 200px;
  }
  footer {
    height: 60px;
    background: white;
    color: black;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
footer> section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-right: 100px;
}