#resume {
    color: var(--primary);
}
main> section {
    display: flex;
    justify-content: space-between;
    background-color: var(--surface);
    height: 220px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}
main> section> div {
border: solid var(--secundary);
background-color: var(--secundary);
width: 600px;
height: 200px;
margin: 60px;
padding: 60px;
justify-content: center;
}
main> h2 {
   display: flex; 
   justify-content: center;
   margin: 20px;
}
main> section> h3 {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

